* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#game {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    height: 100vh;
    width: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    background: #CCC;
    color: white;
    align-self: stretch;
    justify-self: stretch;
    border: 1px solid black;
}